.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header h1{
  padding-top: 05px;
  float: left;
  padding-left: 60px;
  padding-right: 100px;
}
.hearder_center label{
  float: left;
  padding: 20px;   
  padding-top: 35px;
  padding-bottom: 20px;
}
.header_right {
  float: right;
  padding: 40px;
  padding-right: 50px;
}


.mainContent{
  padding-top: 20px;
   display: flex; 
   float: left; 
   /* flex-direction: row; */
   padding-left: 50px;
   
}
.mainContent label{
  padding: 20px;
}
.detailLable{
  padding-right: 50px;
} 
.font2{
  padding-top: 15px;

}
.Images{
  width: 750px;
  padding-left: 20px;
}
.heart{
  padding-bottom: 650px;
}
/* .font3 h3{
  padding-left: 100px;
 } */
 .jonathan{
  width: 200px;
  height: 92px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 96%;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  flex: none;
 }
 .lurex{
  width: 254;
  height: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight:400;
  font-size: 20px;
  line-height: 120%;
 }
 .colorConchiglia{
  position: absolute;
  width: 130px;
  height: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight:700;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
 }