.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*---------------------------------------------- header style---------------------------------------- */
.header h1{
  padding-top: 05px;
  float: left;
  padding-left: 60px;
  padding-right: 100px;
}
.hearder_center label{
  float: left;
  padding: 20px;   
  padding-top: 35px;
  padding-bottom: 20px;
}
/* .header_right {
  float: right;
  padding: 40px;
  padding-right: 50px;
} */
.header_search{
  position: absolute;
  left: 88.81%;
  right: 6.53%;
  /* top: 31.67%; */
  bottom: 93.33%;
}
.header_cart{
  position: absolute;
  left: 90.81%;
  right: 3.53%;
  /* top: 31.67%; */
  bottom: 93.33%;
}
.header_account{
  position: absolute;
  left: 92.81%;
  right: 3.53%;
  /* top: 31.67%; */
  bottom: 93.33%;
}
.header_nav{
  position: absolute;
  left: 94.81%;
  right: 3.53%;
  /* top: 31.67%; */
  bottom: 93.33%;
  display: none;
}
/*--------------------------------------------- mainContent style-------------------------------------------------- */
.mainContent{
  padding-top: 20px;
   display: flex; 
   float: left; 
   padding-left: 50px;
   
}
.mainContent label{
  padding: 20px;
}
.detailLable{
  padding-right: 50px;
} 

.font2 {
  position: absolute;
  left:  3.93%;
  right: 72.5%;
  top: 15.95%;
  bottom: 89.26%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height:130% ;
  text-align: left;
} 
.Images{
  width: 870px;
  padding-left: 20px;
}
.heart{
  padding-bottom: 650px;
}
.font3{
  text-align: left;
 }
 .jonathan{
  height: 92px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 96%;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  flex: none;
 }
 .lurex{
  width: 254;
  height: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight:400;
  font-size: 20px;
  line-height: 120%;
 }
 .colorConchiglia{
  position: absolute;
  width: 130px;
  height: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight:700;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
 }
 .size{
  position:absolute;
  display: flex;

 }
 .size p{
  position: absolute;
  left: 125%;
  padding-top: 3px;
  font-weight:400;
  font-size: 20px;
 }
 .button1{
    box-sizing: border-box;
    position: absolute;
    width: 78px;
    height: 30px;
    left: calc(72% - 78px/2 - 123px);
    top: calc(55% - 30px/2 + 52.5px);
    border: 1px solid #E5E5E5;
    border-radius: 100px;
    background: #FFFFFF;
 }
 .button2{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(72% - 78px/2 - 41px);
  top: calc(55% - 30px/2 + 52.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
 }
 .button3{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(72% - 78px/2 + 41px);
  top: calc(55% - 30px/2 + 52.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
 }
 .button4{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(72% - 78px/2 + 123px);
  top: calc(55% - 30px/2 + 52.5px);
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  color: azure;
 }
.button5{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(72% - 78px/2 - 123px);
  top: calc(55% - 30px/2 + 88.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
}
.JonathanSimkhai{
  
    width: 133px;
    height: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1000%;

    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-right: 40px;
    /* flex: none;
    order: 0;
    flex-grow: 0; */

}
.font10{
    width: 864px;
    height: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    left: 25%;
    position: absolute;
    right: 50%;
}
.addToBag{
    box-sizing: border-box;
    position: absolute;
    left: 64%;
    right: 20%;
    color: azure;
   line-height: 250%;
   
   background: #000000;
    top: 70%;
    bottom: 25%;
    border: 0.999053px solid #000000;
    border-radius: 100px;
  }
.paregraph1{
    position: absolute;
    width: 324px;
    height: 34px;
    left: 63%;
    top: 76%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

}
.paragraph2{
    position: absolute;
    width: 240px;
    height: 20px;
    left: 63%;
    top: 82%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.hearder_center1{
  display: none;
}

/* ----------------------------------------------------------mobile design--------------------------------------------------- */

@media only screen and (max-width:550px){
  .header{
    width:100%;
    position: absolute;
    top: 100px;
    padding-right: 0px;    
    z-index: 2;
    /* padding-left: 240px; */
    text-align: right;
  }
  .hearder_center1{
    display: block;
    background: linear-gradient(#ff54a2,#ff575a);
    /* margin-top: 50px; */
    /* margin-bottom: 10px; */
    /* float: right; */
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    position: absolute;
    width: 90%;
  }
  .hearder_center{
    display: none;
  }
  .hearder_center1 label{
    padding-left: 60%;
    float:right ;
    padding-right: 50px;
    line-height: 180%;
  }   
  
  .header_nav{
    position: absolute;
    left: 83%;
    width: 30px;
    top: -68px;
    display: block;
  }
  .Images {
    position: absolute;
    top: 10%;
    position: absolute;
    display: flex;
    width: 400px;
    height: 420px;
    overflow-x: auto;
  }
  /* .allspanx span{
      background: #000000;
      height: 10px;
      width: 50px;
      margin:0 3px ;
      cursor: pointer;
  } */
  .header h1{
    top: -75px;
    position: absolute;
      /* float: left; */
    padding-left: 30px;
    width: 10px;
    font-size:medium;
    width: fit-content;
  }
  .header_search{
      position: absolute;
      left: 75%;
      top: -63px;
      width: 30px;
      bottom: 93.33%;
  }
  .header_cart{
    position: absolute;
    left: 68%;
    top: -65px;
    width: 30px;
    bottom: 93.33%;
  }
  .header_account{
    display: none;
  }
  .detailLable{
    display: none;
  }
  .font3{
    padding-top: 140%;
  }
  .jonathan{
    width: 333px;
    height: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
  }
  .button1{
    box-sizing: border-box;
    position: absolute;
    width: 78px;
    height: 30px;
    left: calc(38% - 78px/2 - 123px);
    top: calc(70% - 30px/2 + 52.5px);
    border: 1px solid #E5E5E5;
    border-radius: 100px;
    background: #FFFFFF;
 }
 .button2{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(38% - 78px/2 - 41px);
  top: calc(70% - 30px/2 + 52.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
 }
 .button3{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(38% - 78px/2 + 41px);
  top: calc(70% - 30px/2 + 52.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
 }
 
 .button4{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(38% - 78px/2 + 123px);
  top: calc(70% - 30px/2 + 52.5px);
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  color: azure;
 }
 .button5{
  box-sizing: border-box;
  position: absolute;
  width: 78px;
  height: 30px;
  left: calc(38% - 78px/2 - 123px);
  top: calc(70% - 30px/2 + 88.5px);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
}
.addToBag{
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  right: 43%;
  color: azure;
  background: #000000;
  top: 80%;
  height: 40px;
  border: 0.999053px solid #000000;
  border-radius: 100px;
}
.paregraph1{
  position: absolute;
  width: 324px;
  height: 34px;
  left: 10%;
  top: 85%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

}
.paragraph2{
  position: absolute;
  width: 240px;
  height: 20px;
  left: 10%;
  top:90%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.JonathanSimkhai
{
  /* position: absolute; */
  width: 133px;
  height: 17px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  line-height: 5400%;
  float: left;
  width: fit-content;
  /* padding-left: 15px; */
 
}
.JonathanSimkhai1{
  padding-left: 20px;
}
.font10{
  width: 250px;
  height: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding-top: 1250px;
  left: 10%;
  position: absolute;
  right: 50%;
}
.heart{
  display: none;
}
}